*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

$base-text: #afb6c2;
$title-text: #d4ccb6;
$background: #191816;
$form-background: #24221f;
$primary-color: #ffc632;
$placeholder-padding-left: 35px;

:root {
  --text-base: #{$base-text};
  --text-title: #{$title-text};
  --background: #{$background};
  --form-background: #{$form-background};
  --primary-color: #{$primary-color};
}

@mixin alignCenter($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", Courier, monospace;
  color: $base-text;
  background-color: $background;
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
    // color: pink;
  }
}

header {
  min-height: 10vh;
  //   border: 1px dotted $primary-color;
  display: flex;
  justify-content: flex-start;

  align-items: center;
}
.row {
  padding: 1rem 0rem;
  //   border: 0.5px solid greenyellow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

input {
  padding-left: $placeholder-padding-left;
  margin-top: 0.2rem;
  width: 100%;
  min-height: 48px;
  border-radius: 10px;
  border: none;
  outline: none;

  //   &::placeholder {
  //     // padding-left: 5px;
  //   }

  &:focus {
    outline: none;
    border: 5px solid $primary-color;
  }
}

.container {
//   border: 1px dotted black;
  width: 80%;
  margin: 0 auto;
}

.login {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .loginInfo {
    padding: 0.4rem 0;
    margin: 0.2rem 0 1.4rem 0;

    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .loginTxt {
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      margin-bottom: 0.4rem;

      .loginHeaderText {
        font-size: 2rem;
      }
    }

    .logo {
      width: 28px;
      height: auto;
      margin-right: 0.5rem;
    }
  }
}

.input-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-image: url("../images/mail.svg");
    background-size: contain;
    pointer-events: none;
  }

  &.focus::before {
    background-image: url("../images/mail-focus.svg"); // Change path on focus
  }

  .email {
    padding-left: $placeholder-padding-left;

    // &::placeholder {
    //   //   padding-left: $placeholder-padding-left;
    // }

    &:focus {
      outline: none;
      border: 5px solid $primary-color;
      caret-color: transparent; // Remove blinking caret
    }
  }
  &.password-wrapper {
    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-size: contain;
      pointer-events: none;
      background-image: url("../images/lock.svg");
    }

    &.focus::before {
      background-image: url("../images/lock-focus.svg"); // Change path on focus for password
    }

    .password {
      padding-left: $placeholder-padding-left;

      //   &::placeholder {
      //     // padding-left: $placeholder-padding-left;
      //   }

      &:focus {
        outline: none;
        border: 5px solid $primary-color;
        caret-color: transparent; // Remove blinking caret
      }
    }

    .toggle-password-visibility {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background-image: url("../images/eye-closed.svg");
      background-size: contain;
      cursor: pointer;
    }
  }
}

.inputRow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.lastRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .remindMe {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    max-width: 30%;
    min-width: 200px;
    height: 100%;

    .checkbox {
      @include alignCenter();
      transform: scale(60%) translateX(-30%);
      margin-right: -0.2em;
      padding: 0;
      width: 45px;
      border: 1px solid $base-text;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      appearance: none; // Remove default checkbox appearance
      background-color: transparent;

      &:checked {
        background-color: $primary-color; // Background color on click
        background-image: url("../images/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
      }
    }
  }
  .forgot {
    width: 50%;
    text-align: end;
  }
}

.loginButton {
  font-size: 1.2rem;
  width: 100%;
  min-height: 52px;
  border-radius: 8px;
  background-color: $primary-color;
  color: $background;
  font-weight: 800;
  outline: none;
  border: none;

  &:active {
    transform: scale(98%);
  }
}
.yellowHyperlink {
  color: $primary-color;
  font-weight: 500;
  white-space: nowrap;

  &:hover {
    color: lighten($color: $primary-color, $amount: 15%);
  }
}

.noAccount {
  @include alignCenter(column);
}

.right {
  display: none;
  width: 100%;
}

// Tablet and Web
@media only screen and (min-width: 1025px) {
  body {
    font-family: "Roboto", Courier, monospace;
    color: $base-text;
    background-color: $background;
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-area: "leftContent rightContent";

    .left {
      grid: leftContent;

      @include alignCenter(row);

      .login {
        background-color: $form-background;
        padding: 2.4rem 3rem;
      }
    }
    .right {
      display: block;

      img {
        max-width: 100%;
        display: block;
        grid-area: rightContent;
      }
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  
    .loginInfo {
      padding: 0.4rem 0;
      margin: 0.2rem 0 1.4rem 0;
  
      min-height: 10vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
  
      .loginTxt {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-bottom: 0.4rem;
  
        .loginHeaderText {
          font-size: 1.6rem;
        }
      }
  
      .logo {
        width: 28px;
        height: auto;
        margin-right: 0.5rem;
      }
    }
  }

  .loginButton {
    font-size: 1rem;
    width: 100%;
    min-height: 48px;
    border-radius: 8px;
    background-color: $primary-color;
    color: $background;
    font-weight: 800;
    outline: none;
    border: none;

    &:active {
      transform: scale(98%);
    }
  }
}
