*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$base-text: #afb6c2;
$title-text: #d4ccb6;
$background: #191816;
$form-background: #24221f;
$primary-color: #ffc632;

:root {
  --text-base: #{$base-text};
  --text-title: #{$title-text};
  --background: #{$background};
  --form-background: #{$form-background};
  --primary-color: #{$primary-color};
}

body {
  font-family: "Roboto", Courier, monospace;
  background-color: $background;
  color: $base-text;
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    // color: pink;
  }
}

header {
  //   padding: 2rem;
  height: 15vh;
  border: 2px solid $primary-color;
  display: flex;
  justify-content: flex-start;

  align-items: center;

  svg {
    border: 1px dotted white;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

.login {
  display: flex;
  flex-direction: column;
}
.logo {
  border: 1px dotted white;
  max-width: 10%;
  margin-right: 0.5rem;
}

.row {
  padding: 1rem 0rem;
  border: 1px solid green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.inputRow {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.row.lastRow{
    justify-content: space-between;
}

.loginButton{
    width: 100%;
    min-height: 10vh;
    border-radius: 8px;
}

@mixin alignCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
  }
  
.noAccount{
    @include alignCenter(column)
}
